html body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#all {
    width: 40em;
    height: auto;
    padding: 1em;
    display: grid;
    background-color: rgb(211, 163, 255);
    border: 2px solid black;
    border-radius: 20px;
}

.inptex {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    height: 2em;
    border-radius: 10px;
    background-color: rgb(211, 163, 255);
}

.inptex::value {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.inptex::placeholder {
    color: black;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#form {
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10 , 1em); 
}

#name { 
    grid-area: 1/2/3/5;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
#num {
    grid-area: 1/6/3/11;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
#form label {
    grid-area: 3/2/5/6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#time {
    grid-area: 3/5/5/10;
    background-color: rgb(211, 163, 255);
    border: none;
    font-weight: bold;
    font-style: italic;
}
#cvv {
    grid-area: 5/4/7/8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
#allcard {
    width: 30em ;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4.5em;
}
#frontcard {
    width: 25em ;
    height: 15em;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10 , 1.5em);
    background : linear-gradient(rgb(54, 54, 54) , rgb(221, 221, 221));
    border: 2px solid black;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    
}
#numplace {
    grid-area: 2/2/4/10;
    font-weight: bolder;
    letter-spacing: .85em;
    color: aliceblue;
}
#cvvplace {
    grid-area: 8/2/10/4;
    font-weight: bold;
    font-size: small;
}
#nameplace {
    grid-area: 4/4/6/8;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#dateplace {
    grid-area: 8/7/10/10;
    font-weight: bolder;
    font-style: italic;
}

#backcard {
    width: 25em ;
    height: 15em;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10 , 1.5em);
    background : linear-gradient( rgb(221, 221, 221) , rgb(54, 54, 54) );
    border: 2px solid black;
    border-radius: 20px;
}
#black {
    grid-area: 2/1/4/11;
    background-color: black;
}
#white {
    grid-area: 5/1/6/11;
    background-color: aliceblue;
}
#des {
    grid-area: 7/2/9/10;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(226, 226, 226);
    word-break: break-all;
}
#btn {
    grid-area: 9/2/11/10;
    border: 3px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#rotbtn {
    border: 3px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.add {
    transform: rotateY(90deg);
    transition: all 2s ease-in-out; 
}
#color {
    grid-area: 5/1/7/2;
    background-color: rgb(216, 202, 202);
    width: 5em;
    height: 2em;
    align-self: center;
}
#color2 {
    grid-area: 5/2/7/4;
    background-color: rgb(216, 202, 202);
    width: 5em;
    height: 2em;
    align-self: center;
    margin-left: .2em;
}
#textcolor {
    grid-area: 7/1/9/3;
    width: 100%;
}
#inpdes {
    grid-area: 5/9/7/11;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    background-color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
}

#name:focus , #num:focus , #time:focus , #cvv:focus , #color:focus , #color2:focus , #textcolor:focus {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}